#root {
  background-color: #f1e7e3;
  color-scheme: light dark;
  --color-primary: #794834;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.icon {
  transition: transform 0.3s ease-in-out;
  font-size: 24px;
}

.text {
  flex-grow: 1; /* Permite que el texto se mantenga centrado */
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
