.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding: 0px;
  padding-top: 5px;
  width: 100%;
}
.header__title {
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--color-primary);
  margin-top: 3px;
  transition: transform 0.3s;
  
}

.header__title:hover {
  transform: scale(1.05);
}
.header__subtitle {
  font-weight: normal;
  color: var(--color-primary);
  text-align: center;
  margin-top: 5px;
}